{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}


{% block body %}

<style>
.btn{
    width: 200px;
    margin: 7px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.table{
    
}
</style>

<section class="container">
    <h1>Ingredient index</h1>
    <ul>
        {# <li><a href="{{ '../recette' }}">Gerer les recettes</a></li> #}
        <li><a href="{{ '../../recette' }}">Gerer les recettes</a></li>
        <li><a href="{{ '../' }}">Retour page Admin</a></li>
    </ul>
    <a class="btn btn-danger" href="{{ path('ingredient_new') }}">Ajouter un ingrédient</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>TypeIngredient</th>
                <th>Calories</th>
                <th>Unite</th>
                <th>Vegan</th>
                <th>Vegetarien</th>
                <th>Gluten</th>
                <th>Saison</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.nom }}</td>
                <td>{{ ingredient.image }}</td>
                <td>{{ ingredient.typeIngredient }}</td>
                <td>{{ ingredient.calories }}</td>
                <td>{{ ingredient.unite }}</td>
                <td>{{ ingredient.vegan ? 'Oui' : 'Non' }}</td>
                <td>{{ ingredient.vegetarien ? 'Oui' : 'Non' }}</td>
                <td>{{ ingredient.gluten ? 'Oui' : 'Non' }}</td>
                <td>{{ ingredient.saison }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('ingredient_show', {'id': ingredient.id}) }}">voir</a>


                {# update a configurer pour v2 #}
                    {# <a class="btn btn-danger" href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">modifier</a> #}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">aucunes données ici</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('ingredient_new') }}">Ajouter un ingrédient</a>
</section>
{% endblock %}
