{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
<style>
.btn{
    width: 200px;
    margin: 7px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.table{
    
}
</style>

<section class="container">
    <h1>Recette index</h1>
    <ul>
        {# <li><a href="{{ '../ingredient' }}">Gerer les ingrédients</a></li> #}
        <li><a href="{{ '../admin/ingredient' }}">Gerer les ingrédients</a></li>
        {# <li><a href="{{ '../' }}">Retour page Admin</a></li> #}
        <li><a href="{{ '../admin' }}">Retour page Admin</a></li>
    </ul>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Photo</th>
                <th>Type</th>
                <th>Categorie</th>
                <th>Difficulte</th>
                <th>Duree</th>
                <th>Cuisson</th>
                <th>Instructions</th>
                {# <th>NbrePart</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
        {# {{dump(recette)}} #}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.titre }}</td>
                <td>{{ recette.photo }}</td>
                <td>{{ recette.type }}</td>
                <td>{{ recette.categorie }}</td>
                <td>{{ recette.difficulte }}</td>
                <td>{{ recette.duree }}</td>
                <td>{{ recette.cuisson }}</td>
                <td>{{ recette.instructions }}</td>
                {# <td>{{ recette.nbrePart }}</td> #}
                <td>
                    <a class="btn btn-danger" href="{{ path('recette_show', {'id': recette.id}) }}">voir</a>


                    {# update a configurer pour la v2 #}
                    {# <a class="btn btn-danger" href="{{ path('recette_edit', {'id': recette.id}) }}">modifier</a> #}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">aucunes données ici</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('recette_new') }}">Ajouter une recette</a>
</section>
{% endblock %}
