{% extends 'base.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
<style>
.btn{
    width: 200px;
    margin: 7px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.table{
    
}
</style>

<section class="container">
    <h1>Recette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Difficulte</th>
                <th>Duree</th>
                <th>Cuisson</th>
                <th>Photo</th>
                <th>Instructions</th>
                <th>Type</th>
                <th>Categorie</th>
                {# <th>NbrePart</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
        {{dump(recette)}}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.titre }}</td>
                <td>{{ recette.difficulte }}</td>
                <td>{{ recette.duree }}</td>
                <td>{{ recette.cuisson }}</td>
                <td>{{ recette.photo }}</td>
                <td>{{ recette.instructions }}</td>
                <td>{{ recette.type }}</td>
                <td>{{ recette.categorie }}</td>
                {# <td>{{ recette.nbrePart }}</td> #}
                <td>
                    <a class="btn btn-danger" href="{{ path('recette_show', {'id': recette.id}) }}">voir</a>
                    <a class="btn btn-danger" href="{{ path('recette_edit', {'id': recette.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">aucunes données ici</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('recette_new') }}">Ajouter une recette</a>
</section>
{% endblock %}
