{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
<style>
.btn{
    width: 200px;
    margin: 7px;
}
</style>

    <h1>Recette</h1>
{{ dump(recette.ingredient) }}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ recette.titre }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ recette.difficulte }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ recette.duree }}</td>
            </tr>
            <tr>
                <th>Cuisson</th>
                <td>{{ recette.cuisson }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ recette.photo }}</td>
            </tr>
            {# <tr>
                <th>IngredientsRecette</th>
                <td>{{ recette.ingredientsRecette }}</td>
            </tr> #}
            <tr>
                <th>Instructions</th>
                <td>{{ recette.instructions }}</td>
            </tr>
             {# <tr>
                <th>Quantite</th>
               
                {# {{dump(table_recette_ingredient)}} #}
                {# <td>
                {% for recetteIngredient in recette.ingredient %}
               
                <div>
                {{recetteIngredient.quantite}} 
                </div>

                 {% endfor %}
                </td> 
                 
            </tr> #}
             <tr>
                <th>ingrédients</th>
                <td>
                {% for recetteIngredient in recette.ingredient %}

                <div>
                {{recetteIngredient.quantite}}  {{recetteIngredient.ingredient.nom}}
                </div>

                {% endfor %}
                </td>
            </tr>

            <tr>
                <th>Type</th>
                <td>{{ recette.type }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ recette.categorie }}</td>
            </tr>
            {# <tr>
                <th>NbrePart</th>
                <td>{{ recette.nbrePart }}</td>
            </tr> #}
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('recette_index') }}">retour à la liste</a>
    
{# update a configurer pour v2 #}
    {# <a class="btn btn-danger" href="{{ path('recette_edit', {'id': recette.id}) }}">modifier</a> #}

    {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
