{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/menujours.css')}}">
{% endblock %}
{% block body %}

<div class="cyan">
    <!-- <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent"> -->
    <span class="jour">Jour 1</span>
    <!-- <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant"> -->
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un déjeuner" id="dejeuner1"></a>
</div></div>
<div class="blanc" id="platdejeuner1">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un diner" id="diner1"></a>
</div></div>
<div class="blanc" id="platdiner1">

</div>

<div class="cyan">
    <!-- <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent"> -->
    <span class="jour">Jour 2</span>
    <!-- <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant"> -->
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un déjeuner" id="dejeuner2"></a>
</div></div>
<div class="blanc" id="platdejeuner2">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un diner" id="diner2"></a>
</div></div>
<div class="blanc" id="platdiner2">

</div>

<div class="cyan">
    <!-- <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent"> -->
    <span class="jour">Jour 3</span>
    <!-- <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant"> -->
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un déjeuner" id="dejeuner3"></a>
</div></div>
<div class="blanc" id="platdejeuner3">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un diner" id="diner3"></a>
</div></div>
<div class="blanc" id="platdiner3">

</div>

<div class="cyan">
    <!-- <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent"> -->
    <span class="jour">Jour 4</span>
    <!-- <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant"> -->
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un déjeuner" id="dejeuner4"></a>
</div></div>
<div class="blanc" id="platdejeuner4">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un diner" id="diner4"></a>
</div></div>
<div class="blanc" id="platdiner4">

</div>

<div class="cyan">
    <!-- <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent"> -->
    <span class= "jour">Jour 5</span>
    <!-- <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant"> -->
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un déjeuner" id="dejeuner5"></a>
</div></div>
<div class="blanc" id="platdejeuner5">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un diner" id="diner5"></a>
</div></div>
<div class="blanc" id="platdiner5">

</div>

<div class="cyan">
    <!-- <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent"> -->
    <span class="jour">Jour 6</span>
    <!-- <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant"> -->
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un déjeuner" id="dejeuner6"></a>
</div></div>
<div class="blanc" id="platdejeuner6">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un diner" id="diner6"></a>
</div></div>
<div class="blanc" id="platdiner6">

</div>

<div class="cyan">
    <!-- <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent"> -->
    <span class="jour">Jour 7</span>
    <!-- <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant"> -->
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un déjeuner" id="dejeuner7"></a>
</div></div>
<div class="blanc" id="platdejeuner7">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <a href="{{ url('type')}}"> <div><img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter un diner" id="diner7"></a>
</div></div>
<div class="blanc" id="platdiner7">

</div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/menu.js')}}"> </script>
{% endblock %}