{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/menujours.css')}}">
{% endblock %}
{% block body %}

<div class="cyan">
    <img class="logo gauche jour" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Précédent">
    <span class="jour">Jour 1</span>
    <img class="logo droite jour" src="{{asset('assets/img/iconPng/bottom.png')}}" alt="Suivant">
</div>
<div class="gris">
    <span class="jour repas">Déjeuner</span>
    <img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter une recette">
</div>
<div class="blanc">

</div>
<div class="gris">
    <span class="jour repas">Dîner</span>
    <img class="logo droite" src="{{asset('assets/img/iconPng/plus.png')}}" alt="Ajouter une recette">
</div>
<div class="blanc">

</div>

{% endblock %}
