{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/admin.css')}}">
{% endblock %}

{% block body %}
<div class="container-admin">
    <div class="container-admin-item">
        <h1>Espace administrateur</h1>
        <button class="btn-recette">
            {# <a href="{{ 'admin/recette' }}">Gerer les recettes</a> #}
            <a href="{{ 'recette' }}">Gerer les recettes</a>
        </button>

        <button class="btn-ingredient">
            <a href="{{ 'admin/ingredient' }}">Gerer les ingrédients</a>
        </button>

        <p>Vous êtes connecté sur le compte {{ app.user.email }} <br><a href="{{ path('app_logout') }}">Se déconnecter</a></p>
    </div>
</div>
{% endblock %}