{% extends 'base.html.twig' %}

{% block title %}Hello ListeRecettesController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/recettes.css')}}">
{% endblock %}

{% block header %}
<div class="logoHeader">
    <nav>
        <ul class="iconReglageDesktop">
            <li><a href="#"><img src="{{asset('assets/img/iconPng/Setting.png')}}" alt=""></a></li>
            
        </ul>
        <ul class="iconReglageSmartphone">
            <li><a href="#"><img src="{{asset('assets/img/iconPng/Setting.png')}}" alt=""></a></li>
        </ul>
        <ul class="headerMenuIcon">
                <div id="iconMenus" class="footerMiseEnPage"><li><a href="#"><img class="footNavImg" src="{{asset('assets/img/iconPng/menu.png')}}" alt="Menus">MENUS</a></li></div>
                <div id="iconListes" class="footerMiseEnPage"><li><a href="#"><img class="footNavImg" src="{{asset('assets/img/iconPng/Liste.png')}}" alt="Listes">LISTES</a></li></div>
                <div id="iconStock" class="footerMiseEnPage"><li><a href="#"><img class="footNavImg" src="{{asset('assets/img/iconPng/Stock.png')}}" alt="Stock">STOCK</a></li></div>
        </ul>
    </nav>
    <div class="logoHeader">
        <a href="{{ url('accueil') }}"><img class="logoHeader" src="{{asset('assets/img/Logo.png')}}" alt="Cook&Cool"></a>
    </div>
<style>
    .banniere {
    background-image: url("https://picsum.photos/1920/300");
</style>
{% endblock %}

{% block body %}
<main>
    <section class="banniere">
        <h1 class="texte" id ="titre">Titre de la recette</h1>
    </section>
    <section class="commande middle">
        <div class="ligneBlanche texte">
                <a href=#><img src="{{asset('assets/img/iconPng/retour.png')}}" class="commandesBottom">
                <span class="commandesTexte">Retour</span></a> - 
                <a href=#><span class="commandesTexte">Ajouter</span>
                <img src="{{asset('assets/img/iconPng/validation.png')}}" class="commandesBottom"></a>
            </div>
        <div class="ligneBlanche texte">
            <img src="{{asset('assets/img/iconPng/plus.png')}}" class="commandesBottom"> 
            <span class="commandesTexte">Nombre de personnes : 1</span> 
            <img src="{{asset('assets/img/iconPng/negative-sign.png')}}" class="commandesBottom">
        </div>
            
    </section>
    <section class="ingredients">
        <table class="texte centrer">
            <tr class="gras">
                <td><h3>Ingredients</h3></td>
                <td class="desktopDetails"><h3>Temps de préparation / Cuisson</h3></td>
                <td class="desktopDetails"><h3>Difficulte</h3></td>
            </tr>
            <tr>
                <td>Ingredient 1</td>
                <td class="desktopDetails"> /  minutes</td>
                <td class="desktopDetails">Ouille c'est dur</td>
            </tr>
            <tr>
                <td>Ingredient 2</td>
            </tr>
            <tr>
                <td>Ingredient 3</td>
            </tr>
            <tr>
                <td>Ingredient 4</td>
            </tr>
        </table>
    </section>
    <section class="preparation">
        <h2 class="texte">Préparation</h2>
        <ul>
            <li class="etape texte">Faire étape 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sint facere natus tempore ipsa eaque.Esse dolore perspiciatis veniam. Quos esse quaerat accusamus maiores rerum facere sint labore amet praesentium?</li>
            <li class="etape texte">Faire étape 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sint facere natus</li>
            <li class="etape texte">Faire étape 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sint facere natus</li>
            <li class="etape texte">Faire étape 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sint facere natus</li>
        </ul>
    </section>
</main>
{% endblock %}
