{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* REGLAGES SMARTPHONE */
header{
    background-color: #ffff;
    padding-top: 2px;
}

.header-contact { 
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #FFFF;
    background-color: #8C8C8C;
    position: fixed;
}

.titre-contact{
    font-weight: lighter;
    font-size: 20px;
}



/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px){
.header-contact { 
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #FFFF;
    background-color: #8C8C8C;
    position: fixed;
}

.titre-contact{
    font-weight: lighter;
    font-size: 35px;
}
}


/* REGLAGES TABLETTE */
@media (min-width: 768px) and (max-width: 1080px){
.titre-liste-course{
    font-weight: lighter;
    font-size: 25px;
}

.header-contact { 
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #FFFF;
    background-color: #8C8C8C;
    position: fixed;
}

form{
    width: 250px;
}

}
</style>

<div class="header-contact">
    <h2 class="titre-contact">Contact</h2>
</div>

{#         <section class="container">
            {{ form_start(form) }}

            {{ form_row(form.email) }}

            {{ form_widget(form) }}
            <button class="btn btn-danger">{{ button_label|default('Envoyé') }}</button>
            <div class="confirmation">
                {{ messageConfirmation ?? "" }}
            </div>
            {{ form_end(form) }}
        </section> #}


        <form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
    </form>
{% endblock %}
