<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Menu,Cuisine,Course,Rapide,Faciliter">
        <meta name="description" content="Cook and Cool facilite l'organisation ainsi que la creation de vos menus et vous accompagnent jusqu'à la realisation de vos courses">
        <meta name="author" content="CookandCool">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
        <title>{% block title %}Cook and Cool{% endblock %}</title>
        {# <link rel="stylesheet" href="{{asset('assets/css/reset.css')}}"> #}
        <link rel="stylesheet" href="{{asset('assets/css/normalize.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
    <header>
    {% block header %}
        <nav>
            <ul class="iconReglageSmartphone">
                <li><a href="{{ url('contact') }}"><img src="{{asset('assets/img/iconPng/Setting.png')}}" alt=""></a></li>
            </ul>
            <ul class="headerMenuIcon">
                    <div id="iconMenus" class="headerMiseEnPage"><li><a href="{{ url('menu_jours') }}"><img class="headNavImg" src="{{asset('assets/img/iconPng/menu.png')}}" alt="Menus">MENUS</a></li></div>
                    <div id="iconListes" class="headerMiseEnPage"><li><a href="{{ url('liste_course') }}"><img class="headNavImg" src="{{asset('assets/img/iconPng/Liste.png')}}" alt="Listes">LISTES</a></li></div>
                    <div id="iconStock" class="headerMiseEnPage"><li><a href="{{ url('stock') }}"><img class="headNavImg" src="{{asset('assets/img/iconPng/Stock.png')}}" alt="Stock">STOCK</a></li></div>
                    <div id="iconContact" class="headerMiseEnPage"><li><a href="{{ url('contact') }}"><img class="headNavImg" src="{{asset('assets/img/iconPng/contact.png')}}" alt="Contact">CONTACT</a></li></div>
            </ul>
        </nav>
        <div class="logoHeader">
            <a href="{{ url('accueil') }}"><img class="logoHeader" src="{{asset('assets/img/Logo.png')}}" alt="Cook&Cool"></a>
        </div>
    {% endblock %}
    </header>
    <main>

        {% block body %}{% endblock %}

    </main>
    <footer>
    {% block footer %}
        <div class="footerMenu">
            <nav>
        {# <div id="iconMenus footerMenuIcon" class="footerMiseEnPage"><li><a href="{{ url('type') }}"><img class="backImg" src="{{asset('assets/img/iconPng/retour.png')}}" alt="Menus"></a></li></div> #}

                <ul class="footerMenuIcon">
                    <li class="footerMiseEnPage"><a href="{{ url('menu_jours') }}"><img class="footNavImg" src="{{asset('assets/img/iconPng/menu.png')}}" alt="Menus">MENUS</a></li>
                    <li class="footerMiseEnPage"><a href="{{ url('liste_course') }}"><img class="footNavImg" src="{{asset('assets/img/iconPng/Liste.png')}}" alt="Listes">LISTES</a></li>
                    <li class="footerMiseEnPage"><a href="{{ url('stock') }}"><img class="footNavImg" src="{{asset('assets/img/iconPng/Stock.png')}}" alt="Stock">STOCK</a></li>
                </ul>
            </nav>
        </div>
    {% endblock %}
    </footer>
    
        {% block javascripts %}
            <script src="{{asset('assets/js/main.js')}}"> </script>
        {% endblock %}
    </body>
</html>
