<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Cook and Cool{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
    <header>
    {% block header %}
        <nav>
            <ul class="iconReglageDesktop">
                <li><a href="#"><img src="{{asset('assets/img/iconPng/Setting.png')}}" alt=""></a></li>
                
            </ul>
            <ul class="iconReglageSmartphone">
                <li><a href="#"><img src="{{asset('assets/img/iconPng/Setting.png')}}" alt=""></a></li>
            </ul>
            <ul class="headerMenuIcon">
                    <div id="iconMenus" class="footerMiseEnPage"><li><a href="{{ url('config_menu') }}"><img class="footNavImg" src="{{asset('assets/img/iconPng/menu.png')}}" alt="Menus">MENUS</a></li></div>
                    <div id="iconListes" class="footerMiseEnPage"><li><a href="{{ url('liste_course') }}"><img class="footNavImg" src="{{asset('assets/img/iconPng/Liste.png')}}" alt="Listes">LISTES</a></li></div>
                    <div id="iconStock" class="footerMiseEnPage"><li><a href="#"><img class="footNavImg" src="{{asset('assets/img/iconPng/Stock.png')}}" alt="Stock">STOCK</a></li></div>
            </ul>
        </nav>
        <div class="logoHeader">
            <a href="{{ url('accueil') }}"><img class="logoHeader" src="{{asset('assets/img/Logo.png')}}" alt="Cook&Cool"></a>
        </div>
    {% endblock %}
    </header>
    <main>

        {% block body %}{% endblock %}

    </main>
    <footer>
    {% block footer %}
        <div class="footerMenu">
            <nav>
                <ul class="footerMenuIcon">
                    <div id="iconMenus" class="footerMiseEnPage"><li><a href="{{ url('config_menu') }}"><img class="footNavImg" src="{{asset('assets/img/iconPng/menu.png')}}" alt="Menus">MENUS</a></li></div>
                    <div id="iconListes" class="footerMiseEnPage"><li><a href="{{ url('liste_course') }}"><img class="footNavImg" src="{{asset('assets/img/iconPng/Liste.png')}}" alt="Listes">LISTES</a></li></div>
                    <div id="iconStock" class="footerMiseEnPage"><li><a href="#"><img class="footNavImg" src="{{asset('assets/img/iconPng/Stock.png')}}" alt="Stock">STOCK</a></li></div>
                </ul>
            </nav>
        </div>
    {% endblock %}
    </footer>
    

        <script src="{{asset('assets/js/main.js')}}"> </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
