{% extends 'base.html.twig' %}

{% block title %}TableRecetteIngredients index{% endblock %}

{% block body %}
<style>
.btn{
    width: 300px;
    margin: 7px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.table{
    
}
</style>

    <h1>TableRecetteIngredients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Ordre</th>
                <th>Etape</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for table_recette_ingredient in table_recette_ingredients %}
            <tr>
                <td>{{ table_recette_ingredient.id }}</td>
                <td>{{ table_recette_ingredient.quantite }}</td>
                <td>{{ table_recette_ingredient.ordre }}</td>
                <td>{{ table_recette_ingredient.etape }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('table_recette_ingredients_show', {'id': table_recette_ingredient.id}) }}">voir</a>
                    <a class="btn btn-danger" href="{{ path('table_recette_ingredients_edit', {'id': table_recette_ingredient.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucunes données ici</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('table_recette_ingredients_new') }}">Ajouter table-ingredient-recette</a>
{% endblock %}
